In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"E:\aiml training\Used_Bikes.csv")

In [3]:
#question 1
nyi=df[(df["brand"]== "KTM")&(df["city"]=="Jaipur")  ] 
print(nyi)
print("number of bikes in jaipur are:",nyi.shape)
print("the min price of bike is:",nyi[["price"]].min())

           bike_name     price    city  kms_driven        owner  age  power  \
888     KTM RC 390cc  147000.0  Jaipur     15000.0  First Owner  6.0  390.0
4945  KTM Duke 390cc  200000.0  Jaipur     11700.0  First Owner  4.0  390.0
4948    KTM RC 390cc  175000.0  Jaipur     10880.0  First Owner  4.0  390.0
6073    KTM RC 200cc  190000.0  Jaipur      7902.0  First Owner  2.0  200.0
6159  KTM Duke 250cc  135000.0  Jaipur     12507.0  First Owner  4.0  250.0
6552    KTM RC 200cc  190000.0  Jaipur      7902.0  First Owner  2.0  200.0
6734    KTM RC 200cc  128000.0  Jaipur     15000.0  First Owner  4.0  200.0
7561  KTM Duke 250cc  150000.0  Jaipur     12500.0  First Owner  4.0  250.0

     brand
888    KTM
4945   KTM
4948   KTM
6073   KTM
6159   KTM
6552   KTM
6734   KTM
7561   KTM
number of bikes in jaipur are: (8, 8)
the min price of bike is: price    128000.0
dtype: float64

In [4]:
#question 2
nyi=df[(df["city"]== "Delhi")&(df["owner"]== "First Owner")   ] 
print(nyi.shape)
print(nyi[["age"]].max())
print(nyi[["age"]].min())

(6516, 8)
age    20.0
dtype: float64
age    1.0
dtype: float64

In [7]:
#question 3
import xlrd

df=pd.read_excel(r"E:\aiml training\IV Sem- Sitting Arrangement- Master section-wise & room-wise- Student Display.xlsx")
df

,Jaipur Engineering College and Research Centre,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Department of Computer Science and Engineering...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IV Semester Sitting Arrangement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4CSA,NaN,4CSB,NaN,4CSC,NaN,4CSD,NaN,4CS(AI),NaN,4CSA,4CSB,4CSC,4CSD,4CS(AI),Total in room
4,NaN,NaN,FROM,TO,FROM,TO,FROM,TO,FROM,TO,FROM,TO,Bifurcation,NaN,NaN,NaN,NaN,NaN
5,1,LT-1,22EJCCS001,22EJCCS028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,NaN,NaN,NaN,NaN,28
6,2,LT-2,22EJCCS029,22EJCCS056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,NaN,NaN,NaN,NaN,28
7,3,LT-3,22EJCCS057,22EJCCS065,22EJCCS066,22EJCCS085,NaN,NaN,NaN,NaN,NaN,NaN,9,19,NaN,NaN,NaN,28
8,4,LT-4,NaN,NaN,22EJCCS086,22EJCCS113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28,NaN,NaN,NaN,28
9,5,BS-01,NaN,NaN,22EJCCS114,22EJCCS131,22EJCCS132,22EJCCS137,NaN,NaN,NaN,NaN,NaN,18,6,NaN,NaN,24
10,6,BS-08,NaN,NaN,NaN,NaN,22EJCCS138,22EJCCS166,NaN,NaN,NaN,NaN,NaN,NaN,28,NaN,NaN,28
11,7,BT-1,NaN,NaN,NaN,NaN,22EJCCS167\n23EJCCS200,22EJCCS19123EJCCS202,NaN,NaN,NaN,NaN,NaN,NaN,28,NaN,NaN,28
12,8,BT-7,NaN,NaN,NaN,NaN,23EJCCS203,23EJCCS227,22EJCCS192,22EJCCS814,NaN,NaN,NaN,NaN,25,23,NaN,48
13,9,BT-14,NaN,NaN,NaN,NaN,NaN,NaN,22EJCCS815\n22EJCCS300,"22EJCCS857, 22EJCCS300\n",NaN,NaN,NaN,NaN,NaN,43,NaN,43
14,10,BS-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22EJCCA001,22EJCCA049,NaN,NaN,NaN,NaN,48,48
15,11,BT-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22EJCCA050\n23EJCCA200\n22EJCCA300,22EJCCA06023EJCCA205\n22EJCCA300,NaN,NaN,NaN,NaN,18,18
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Total,349